# Display Information of DataSet

In [2]:
# Importing the pandas library, which is used for data analysis and manipulation
import pandas as pd

In [4]:
# Reading data from a JSON file named "sample_Data.json" and loading it into a DataFrame
df = pd.read_json("sample_Data.json")

# Printing a message to explain whatâ€™s coming next
print("Displaying the info of data set")

# Displaying summary information about the DataFrame
# This includes the number of entries (rows), column names, data types, and memory usage
print(df.info())

Displaying the info of data set
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None

Insides:-

Non-null values means the data set has no empty cell in those columns and rows and int64 is for integer data type, float64 is 
for float data type and object is for any string type data type.